[submodule "externals/gaussian-splatting"]
	path = externals/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting
[submodule "externals/scenenn"]
	path = externals/scenenn
	url = https://github.com/hkust-vgd/scenenn.git
[submodule "externals/depth-anything-3"]
	path = externals/depth-anything-3
	url = https://github.com/ByteDance-Seed/Depth-Anything-3.git
